apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-external-secret
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: postgres-secret
    creationPolicy: Owner
  data:
  - secretKey: POSTGRES_USER
    remoteRef:
      key: online-store/postgres
      property: POSTGRES_USER
  - secretKey: POSTGRES_PASSWORD
    remoteRef:
      key: online-store/postgres
      property: POSTGRES_PASSWORD
  - secretKey: POSTGRES_DB
    remoteRef:
      key: online-store/postgres
      property: POSTGRES_DB
  - secretKey: DATABASE_URL
    remoteRef:
      key: online-store/postgres
      property: DATABASE_URL
