apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_USER: bXl1c2Vy
  POSTGRES_PASSWORD: bXlwYXNzd29yZA==
  POSTGRES_DB: b25saW5lLXN0b3Jl
  DATABASE_URL: cG9zdGdyZXNxbDovL215dXNlcjpteXBhc3N3b3JkQHBvc3RncmVzLXNlcnZpY2U6NTQzMi9vbmxpbmUtc3RvcmU/c2NoZW1hPXB1YmxpYw==
